---
layout: archive
title: "Research Portfolio"
permalink: /portfolio/
author_profile: true
---


<section id="research-section">
  <h2>High-Level Summary</h2>
  <p>
      My research integrates ultrasound hardware, algorithms, and clinical translation to develop next-generation technologies for non-invasive therapy,
      real-time diagnosis, and image-guided interventions.
  </p>
</section>

<section class="research-section">
    <h2>Transcranial Histotripsy for Non-Invasive Brain Tumor Treatment</h2>

    <p>
        My PhD dissertation focused on developing transcranial histotripsy, a non-invasive
        ultrasound therapy that mechanically destroys pathological tissue without surgery, radiation,
        or thermal damage. Transcranial histotripsy is particularly challenging because the
        human skull causes significant attenuation and aberration, making it difficult to guide,
        deliver, and monitor treatment.
    </p>

    <p>
        To address this challenge, I developed the world's first human-scale MR-guided transcranial
        histotripsy system capable of generating and electronically steering cavitation through
        the intact skull. I also designed ultrasound hardware and real-time signal-processing
        methods for aberration correction, acoustic feedback, and cavitation monitoring,
        enabling precise and safe treatment delivery.
    </p>

    <p>
        Using these technologies, I led and contributed to a series of preclinical studies that
        demonstrated the feasibility and safety of transcranial histotripsy in human brain tumor
        specimens and in vivo animal models. This work represents a major technological breakthrough
        in the development of entirely non-invasive surgery for treating brain diseases,
        and the resulting insights and innovations are translatable to the treatment of other pathologies.
    </p>
</section>

<section class="research-section">
    <h3>Real-Time Volumetric Ultrasound Imaging</h3>

    <p>
        My postdoctoral research focused on advancing ultrafast ultrasound imaging for
        diagnosis and image-guided interventions. Leveraging a custom 1024-channel imaging
        platform, I developed volumetric spine imaging techniques that combine large-aperture
        ultrasound arrays and parallel computing, substantially improving image quality compared with conventional probes.
        This approach provides an extended field of view, higher resolution, and enhanced contrast,
        enabling visualization of deep spinal anatomy with strong potential for procedural guidance.
    </p>

    <p>
        I also developed a high-resolution volumetric ultrasound tomography system for
        breast imaging, enabling rapid, large-field-of-view, non-ionizing imaging with the ability
        to visualize small lesions in just a few seconds. 
    </p>

</section>



<section id="related-links">
  <h2>Useful Links</h2>

  <!-- Videos -->
  <div class="link-group">
    <h3>Videos</h3>

    <div class="video-grid">
      <div class="video-item">
        <iframe 
          width="350" 
          height="200" 
          src="https://www.youtube.com/embed/ksq-yYrwkSM?si=FNMl8n7nXrxJxbdS" 
          title="YouTube video player" frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          referrerpolicy="strict-origin-when-cross-origin" 
          allowfullscreen>
        </iframe>
        <p>Histotripsy: Non-invasive cancer treatment approved by FDA</p>
      </div>

    </div>
  </div>

  <!-- External Links -->
  <div class="link-group">
    <h3>External Resources</h3>
    <ul>
      <li>
        <a href="https://www.fusfoundation.org/" target="_blank" rel="noopener">
          Focused Ultrasound Foundation
        </a>
      </li>
      <li>
        <a href="https://histosonics.com/" target="_blank" rel="noopener">
          Histosonics
        </a>
      </li>
       <li>
        <a href="https://www.bbc.com/future/article/20251007-how-ultrasound-is-ushering-a-new-era-of-surgery-free-cancer-treatment" target="_blank" rel="noopener">
          How ultrasound is ushering a new era of surgery-free cancer treatment
        </a>
      </li>
    </ul>
  </div>
</section>

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

